.ant-layout-sider {
  transition: all 0.2s;
}

.ant-layout-sider-collapsed {
  overflow: visible;
}

.ant-layout-sider-collapsed .ant-layout-sider-children {
  display: none;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

.ant-upload-list {
  display: none;
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  height: auto !important;
  line-height: 40px !important;
  padding-inline: 16px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline: 4px !important;
  margin-block: 4px !important;
  width: calc(100% - 8px) !important;
}

.custom-menu .ant-menu-item-icon {
  line-height: 40px !important;
}

.custom-menu .ant-menu-title-content {
  line-height: 40px !important;
}
