.ant-layout-sider {
  transition: all 0.2s;
}

.ant-layout-sider-collapsed {
  overflow: visible;
}

.ant-layout-sider-collapsed .ant-layout-sider-children {
  display: none;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

.ant-upload-list {
  display: none;
}

